Repository BuzzSpire/help-desk-monorepo, pull requests merged in 2023-11, with the labels that each got.

#53 feat(frontend): hover card that opens when you mouse over the line in the ticket table
  frontend/src/components/TickeList/TicketTable.tsx
Labels: frontend

#55 feat(frontend): when will click navbar item dashboard go to dashboard page
  frontend/src/components/navbar/Navbar.tsx
Labels: frontend

#56 refactor(frontend): ticket detail page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/ticket/[id].tsx
Labels: frontend

#57 feat(backend): status & Priority for token
  backend/src/main/java/buzzspire/helpdesk/api/TicketPriorityController.java
  backend/src/main/java/buzzspire/helpdesk/api/TicketStatusController.java
  backend/src/main/java/buzzspire/helpdesk/business/abstracts/TicketPriorityServices.java
  backend/src/main/java/buzzspire/helpdesk/business/abstracts/TicketStatusServices.java
  backend/src/main/java/buzzspire/helpdesk/business/concreates/TicketPriorityManager.java
  backend/src/main/java/buzzspire/helpdesk/business/concreates/TicketStatusManager.java
Labels: backend

#58 fix(frontend): Get All Ticket Priorities bad request
  frontend/src/components/TicketDialog/TicketDialog.tsx
Labels: frontend

#59 feat: close ticket
  backend/src/main/java/buzzspire/helpdesk/api/TicketController.java
  backend/src/main/java/buzzspire/helpdesk/api/TicketStatusController.java
  backend/src/main/java/buzzspire/helpdesk/business/abstracts/TicketServices.java
  backend/src/main/java/buzzspire/helpdesk/business/concreates/TicketManager.java
  frontend/src/api/ticket.ts
  frontend/src/components/TickeList/TicketList.tsx
  frontend/src/components/TickeList/TicketTable.tsx
  frontend/src/enums/APIEnum.ts
Labels: backend, frontend

#60 refactor(frontend): general refactor for components and pages
  frontend/src/components/TickeList/TicketTable.tsx
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/pages/admin.tsx
  frontend/src/pages/dashboard.tsx
Labels: frontend

#62 fix(frontend): console log
  frontend/src/components/TickeList/TicketTable.tsx
Labels: bug, frontend

#63 refactor(frontend): adding comment lines that were not added
  frontend/src/api/config.ts
  frontend/src/api/ticket.ts
  frontend/src/api/ticketMassage.ts
  frontend/src/api/user.ts
  frontend/src/components/TickeList/TicketTable.tsx
  frontend/src/components/TicketDialog/TicketDialog.tsx
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/index.tsx
Labels: frontend

#66 refactor(backend) Token controls for user manager & remove unused methods
  backend/src/main/java/buzzspire/helpdesk/api/UserController.java
  backend/src/main/java/buzzspire/helpdesk/business/abstracts/UserServices.java
  backend/src/main/java/buzzspire/helpdesk/business/concreates/UserManager.java
Labels: backend

#71 fix(backend): get user
  backend/src/main/java/buzzspire/helpdesk/api/UserController.java
  backend/src/main/java/buzzspire/helpdesk/business/abstracts/UserServices.java
  backend/src/main/java/buzzspire/helpdesk/business/concreates/UserManager.java
Labels: frontend

#72 feat: my profile page
  backend/src/main/java/buzzspire/helpdesk/api/TicketController.java
  backend/src/main/java/buzzspire/helpdesk/business/abstracts/TicketServices.java
  backend/src/main/java/buzzspire/helpdesk/business/concreates/TicketManager.java
  backend/src/main/java/buzzspire/helpdesk/dataAccess/abstracts/TicketDAO.java
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/ticket.ts
  frontend/src/components/navbar/Navbar.tsx
  frontend/src/enums/APIEnum.ts
  frontend/src/pages/profile.tsx
Labels: backend, frontend

#74 feat(frontend): enhance focus states for all buttons to improve accessibility
  frontend/src/components/TickeList/TicketList.tsx
  frontend/src/components/TicketDialog/TicketDialog.tsx
  frontend/src/pages/admin.tsx
  frontend/src/pages/dashboard.tsx
  frontend/src/pages/index.tsx
  frontend/src/pages/settings.tsx
Labels: frontend

#76 feat(frontend): <FormControl> should be added for all useforms in the frontend
  frontend/src/components/TicketDialog/TicketDialog.tsx
  frontend/src/pages/admin.tsx
  frontend/src/pages/index.tsx
Labels: frontend

#80 feat: update ticket status
  backend/src/main/java/buzzspire/helpdesk/api/TicketController.java
  backend/src/main/java/buzzspire/helpdesk/business/abstracts/TicketServices.java
  backend/src/main/java/buzzspire/helpdesk/business/concreates/TicketManager.java
  frontend/src/api/ticket.ts
  frontend/src/components/TickeList/TicketList.tsx
  frontend/src/enums/APIEnum.ts
Labels: backend, frontend

#81 update: 'ADMIN' References in Backend to RoleEnum.ADMIN
  backend/src/main/java/buzzspire/helpdesk/business/concreates/TicketManager.java
Labels: backend

#82 Fix(frontend): build error
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend
